body{
    background-color: tan;
}


h1{
    text-align:center;
    color: azure;
    background-color: saddlebrown;
}

.welcome-message {
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: saddlebrown;
}

.about-me{
    background-color: red;
}

ul{
    list-style-type: disc;
    padding: 20px;
}

li{
    background-color: lightgray;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.contact-link{
    padding: 0%;
    margin: 0%;
    background-color: blue;
}
