<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact me</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    </head>
    <body>
        <h1>Contact Me</h1>
            <ul>
                <li>
                    My phone number: +20 10 2729 3249
                </li>
                <li>
                    My email: amrabdullah071@gmail.com
                </li>
                <li>
                    My Github: <a href="https://github.com/Amr91941" target="_blank">Amr91941</a>
                </li>
            </ul>
    </body>
</html>