<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Engineer Amr Abdullah Abdeltawab</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/welcome.css')}}">
    </head>
    <body>
        <h1>Welcome To My World</h1>
        <div class="welcome-message">
            <p>This is my profile page</p>
            <p>Feel free to explore and learn more about me</p>
        </div>
        <div class="about-me">
            <h2>About me</h2>
            <ul>
                <li>
                    My name is "Amr Abdullah Abdeltawab"
                </li>
                <li>
                    I'm from "Egypt, Minia, Mallawi"
                </li>
                <li>
                    I'm a back-end developer who interested in help you to build your projects
                </li>
                <li>
                    I have experince in C++, Java, Python, Html and CSS
                </li>
                <li>
                    Contact me:
                    <ul>
                        <li>
                            My phone number: +20 10 2729 3249
                        </li>
                        <li>
                            My email: amrabdullah071@gmail.com
                        </li>
                        <li>
                            My Github: <a href="https://github.com/Amr91941" target="_blank">Amr91941</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>